header {
  display: flex;
  background-color: grey;
  height: 55px;
  align-items: center;
  width: 100%;
}

nav {
/* border: 2px solid blue; */
margin: 75%;
}

nav a {
  padding: 20px;
  color: white;
  text-decoration: none;

}

#header-home {
  margin-left: 20px;
}

#header-home a {
  color: white;
  text-decoration: none;
}


/* Header Info above */

/* Home page below */

body {
background-color: rgba(176, 213, 247, 0.349);
}

#welcome {
/* border: 2px solid rgba(176, 213, 247, 0.349); */
text-align: center;
font-family: 'Luckiest Guy', cursive;
letter-spacing: 2px;
font-size: 40px;
/* margin-left: 30%;
margin-top: 30px; */
}

#instructions {
  /* border: 3px solid green; */
  text-align: center;
  margin-top: 50px;
  font-size: 25px;
  /* padding: 30px; */
  padding-left: 100px;
  padding-right: 100px;
  
}

#home-div{
  /* background-color: linen; */
  display: flex;
  /* border: 3px solid black; */
  /* margin-top: 20px;  */
justify-content: center;
}


#pirate-home { 
/* border: 2px solid red; */
margin-left: -50px;
transition: all .2s ease-in-out;
}

#pirate-home:hover {
animation-fill-mode: forwards;
transform: scale(1.3);
}

#chef-home {
/* border: 2px solid green; */
/* margin-left: 100px; */
/* margin-right: 120px;  */
margin-left: 9%;
margin-right: 10%;
transition: all .2s ease-in-out;
}

#chef-home:hover {
  animation-fill-mode: forwards;
  transform: scale(1.3);
}

#minion-home {
  /* border: 2px solid hotpink; */
  margin-right: 20px;
  transition: all .2s ease-in-out;
}

#minion-home:hover {
  animation-fill-mode: forwards;
  transform: scale(1.3);
}


/* Below Translation Pages */

#minionForm {
display: flex;
/* background-color: orange; */
justify-content: center;
width: 50%;
margin: auto;
}

#pirateForm {
  display: flex;
/* background-color: orange; */
justify-content: center;
width: 50%;
margin: auto;
}

#chefForm {
  display: flex;
/* background-color: orange; */
justify-content: center;
width: 50%;
margin: auto;
}

/* h2 {
border: 2px solid orange;
padding-left: 50px;
} */

#minionTitle {
  justify-content: center;
  /* border: 2px solid red; */
  font-size: 28px;
  font-family: 'Luckiest Guy', cursive;
  letter-spacing: 2px;
}

#pirateTitle {
  justify-content: center;
  /* border: 2px solid red; */
  font-size: 28px;
  font-family: 'Luckiest Guy', cursive;
  letter-spacing: 2px;
}

#chefTitle {
  justify-content: center;
  /* border: 2px solid red; */
  font-size: 28px;
  font-family: 'Luckiest Guy', cursive;
  letter-spacing: 2px;
}

#chefPage {
position: relative;
top: 0px;
left: 0px;
}

#chefHome2 {
  /* border: 2px solid blue; */
  position: absolute;
  top: 150px;
  right: 200px;
  animation-name: grow;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}


#userInput {
/* border: 2px solid blue; */
}

textarea {
  width: 435px;
  height: 120px; 
  align-items: center;
  font-size: larger;
}

h3 {
  font-size: 28px;
  /* border: 2px solid blue; */
  width: 435px;
  /* transition: all .2s ease-in-out;
  animation-fill-mode: forwards;
  transform: scale(1.3); */
}


#translation {
  text-align: center;
}

input {
  background-color: black;
  color: white;
  border-radius: 15px;
  height: 30px;
  margin-top: 10px;
  font-weight: bold;
}

/* below is media quiery  */

@media only screen and (max-width: 550px) {

  body, .App {
    width: 100%;
    /* overflow-x: hidden; */
    /* display: flex; */
  }
  
  header {
    width: 0px;
  
  }
    
    nav a {
      color: black
    }
    
    #header-home a {
      color: black;
    }

    .img-container {
      display: flex;
 
    }
    
   
   
    #pirateTitle {
      font-size: small;
      margin-left: 40px;
    }

    #minionTitle {
      font-size: small;
      margin-left: 40px;

    }

    #chefTitle {
      font-size: small;
      margin-left: 40px;

    }

    textarea {
      width: 50%;
      margin-left: 40px;
      /* border: 2px solid blue; */
    }


    #welcome {
      font-size: small;
    }


    img {
      width: 60%;
    }

    #instructions {
      font-size: small;
      padding: 0;
      margin-top: 10px;

    }


    #home-div{
    display: inline;
    }

#pirate-home {
  width: 80%;
  margin-left: 100px;
}
   

#chef-home {
  width: 80%;
  margin-left: 100px;
}

#minion-home {
  width: 80%;
  margin-left: 100px;
}

input[type=submit] {
  margin-left: 40px;
}

#chefHome2 {
  border: 2px solid orange;
  margin-top: 200px;
  /* margin-left: 200px; */
  /* width: 200px; */
}

#translation {
width: fit-content;
word-wrap: normal;
}

}